/* ESTILIZANDO O MAIN - Página Home */

.home_main{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dataExpiracao_home{
    width: 15vw;
    margin-top: 1em;
    color: #ff0000;
}
.home_main h1{
    color: var(--roxo);
    font-weight: 500;
    margin-top: 2.8em; 
    width: 82vw;  
}

.home_main hr {
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}
.titulo_pu hr{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}

.titulo_pu hr{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}

.home_secao-filtro{
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 4em;

}
.home_secao-filtro h4{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}


.home_filtros{
    display: flex;
    justify-content: space-between;
}


.home_filtros input, .home_filtros label{
    font-family: 'Roboto Condensed', sans-serif;
}

.home_filtros input{
    margin-left: 1em;
}


.home_linhaCard{
    display: flex;
    justify-content: space-around;
    width: 85vw;
}

.home_card{
    width: 18.9vw;
    height: 65vh;
    border: solid 1px #000;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 4em;
}

.home_linha{
    display: flex;
    justify-content: space-around;
}

.home_img{
    width:18.9vw;
    height: 25vh;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
}

.home_img img{
    width:17vw;
    height: 23vh;
}

.home_texto{
    font-family: 'Opens Sans', sans-serif;
    width: 14vw;
    margin-left: 1.8em;
    text-align: justify;   
}
.home_btn{
    text-transform: uppercase;
    border: 1px solid var(--roxo);
    background: var(--roxo);
    border-radius: 0.8em;
    padding: 0.5em;
}
.home_btn a{
    color: white;
    text-decoration: none;
}
.home_coracao i{
    font-size: 2em;
}
.home_preco{
    color:  var(--roxo);
}

/* FINALIZANDO O MAIN - Página Home */



/* ESTILIZANDO O MAIN - Página Login */


/* background do login */
#body_login{
    background: url('../imagens/fundo-login.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Estilização do Topo do login  */
.header_login{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_login img{
    margin-left: 1.5em;
    margin-top: 1.5em;
    width: 15vw;
    height: 8vh;
} 
/* estilizando o main */
.main_login{
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area_login{   
    width: 40vw;
    height: 30vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}
.main_login h1{
    font-size: 2.5em;
    margin-top: 0em;
}
.area_login form{
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    height: 20vh;
    align-items: center;
    margin-top: 1em;
}
.area_login label{
    font-family: 'Opens Sans', sans-serif;
    font-weight: bolder;
}
.area_login form i{
    padding: 1em;
    /* border-bottom: solid black 0.01em; */
}
.area_login form input{
    width:15vw; 
    height: 4.5vh;
    padding: 1em;
    border: none;
    background-color: transparent;
    border-bottom: solid black 0.01em;
}
.area_login a{
    text-decoration: none;
    color: #EF5BA1;
}
.botao_login{
    display: flex;
    justify-content: center;
    margin-top: 4em; 
    height: 3em; 
}
.entrar_login{
    border: solid #9A00B6 0.1em;
    background-color: #fff;
    padding: 0.5em;
    font-family: 'Opens Sans', sans-serif;
    border-radius: 0.5em;
    color: #9A00B6;
    width: 14vw;
    margin-right: 5em;
    font-weight: bold;
    text-transform: uppercase;
}
.cadastrar_login{
    border: solid #EF5BA1 0.1em;
    background-color: #EF5BA1;
    padding: 0.5em;
    font-family: 'Opens Sans', sans-serif;
    border-radius: 0.5em;
    width: 14vw;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
/* Estilo do botão alterar senha  */

.p_senha{
    font-family: 'Opens Sans', sans-serif;
    margin-top: 1em;
}
.alterar_senha{
    border: solid #EF5BA1 0.1em;
    background-color: #EF5BA1;
    padding: 0.5em;
    font-family: 'Opens Sans', sans-serif;
    border-radius: 0.5em;
    width: 14vw;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* FINALIZANDO O MAIN - Página Login */





/* ESTILIZANDO A PÁGINA - Painel de Controle */

.painel_controle{
    display: flex;
}
.perfil_adm{
    width: 15vw;
    height: 74.3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3em;
    margin-top: 4em;
}
.perfil_adm img{
    height: 30vh;
    width: 33vh;
    border-radius: 18%;
}
.perfil_adm div{
    height: 30vh;
    display: flex;
    flex-wrap: wrap; 

}
.perfil_adm i{
    padding: 1em;
}
.perfil_adm h2{
    padding: 1em;
    font-size: 1em;
    font-weight: lighter;
}
.perfil_adm h3{
    width: 15vw;
    height: 2em;
    font-size: 0.9em;
    border: solid 0.05em #707070;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: lighter;
}
.perfil_adm a{
    text-decoration: none;
    margin: 0 auto;
    color: #8F31BE;
    border: solid 0.1em #8F31BE;
    border-radius: 0.5em;
    font-weight: bold;
    margin-top: 1em;
    padding: 0.5em;
}
.atividades_adm{
    margin-top: 4em;
    margin-left: 5em;
    justify-content: center;
    width: 70vw;
    height: 70vh;
}
.atividades_adm h1{
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 0.5em;
    color:  #8F31BE;
}
.atividades_adm hr{
  background: #707070;
  width: 70vw;
}
.acoes_adm{
    border: solid 0.2em #8F31BE;
    border-radius: 0.5em;
    margin-top: 2em;
    height: 55vh;
}
.atividades_adm i{
    padding: 1em;
    color: #8F31BE;
}
.menu-admin span{
    float:right;
}
.fa-cogs:before{
    font-size: 2em;
}
.acoes_adm section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    clear: both;
}
.acoes_adm div{
    height: 15vh;
    width: 20vw;
    border: solid 0.05em #707070;
    border-left: solid 2em #00B6FF;
    border-radius: 1em;
    margin-right: 10em;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}
.acoes_adm a{
    text-decoration: none;
    color: black;
    padding: 1em;
}


/* FINALIZANDO A PÁGINA - Painel de Controle */





/* ESTILIZANDO PÁGINA - Aprovação de Usuário */
#main_interesse{
    height: 120vh;
}
#main_interesse h1{
    color: var(--roxo);
    font-weight: 500;
    margin-left: 4em;
    margin-top: 2.8em;
}
#main_interesse hr{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}
.lista_interresse{
    height: 75vh;
    display: flex;
    justify-content: center;
}
.listaProdutos{
    height: 70vh;
    width: 70vw;
}
.lista_interresse div{
    margin-top: 1em;
    width: 50vw;
    display: flex;
}
.listaPedidos{
    font-size: 1.3em;
    padding: 1em 0.5em 0em 0.5em;
    color: var(--roxo);
    text-decoration-line: underline;
    padding: 1.3em;
}

.subMenuInteresse{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.listaCadastros{
    font-size: 1.3em;
    padding: 1em 0.5em 0em 0.5em;
    color: var(--roxo);
    text-decoration: none;
    font-weight: bolder;
    padding: 1.3em;
}
.menu_interesse{
    width: 70vw;
}
.menu_interesse li{
    list-style: none;
    padding: 1em;
    display: flex;
    border: 2px solid #ccc;
    border-radius: 1em;
    margin-top: 1em;
}
.nome_interesse{
    margin-left: 2em;
    font-family: 'Opens Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
}
.descricao_interesse{
    font-family: 'Opens Sans', sans-serif;
    font-size: 1em;
}
.descricao_botoes{
    display: flex;
    justify-content: space-around;
}
.botao_recusar {
    border: solid 0.1em #CF0000;
    color: #CF0000;
    border-radius: 0.8em;
    background-color: white;
    font-weight: bold;
    width: 8vw;
    height: 5vh;
}
    .botao_aprovar {
    border: solid 0.1em #29BF12;
    color: #29BF12;
    border-radius: 0.8em;
    background-color: white;
    font-weight: bold;
    width: 8vw;
    height: 5vh;
    margin-right: 1em;
}


/* FINALIZANDO A PÁGINA - Aprovação de Usuário */

  /* ESTILIZANDO A LISTA DE INTERESSES*/
  .interesse_main{
      height: 110vh;
  }
  .titulo_descricao h1, .titulo_interesses h1{
    color: var(--roxo);
    font-weight: 500;
    margin-left: 4em;
    margin-top: 2.8em;
    font-size: 1.8em;
}
.titulo_descricao hr, .titulo_interesses hr{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}
.links_listas, .links_listas_aguardo{
    display: flex;
}
.links_listas h2, .links_listas_aguardo h2{
    font-size: 1.3em;
    color: var(--roxo);
    text-decoration-line: underline;
    padding: 1.3em;
}

.links_listas a, .links_listas_aguardo a{
    font-size: 1.3em;
    padding: 1em 0.5em 0em 0.5em;
    color: var(--roxo);
    text-decoration: none;
    font-weight: bolder;
    padding: 1.3em;
}
.box_lista-interesse, .box_lista{
    width: 70vw;
    height: 70vh;
    margin-left: 13.5em;;
}
.linha_produto{
    list-style: none;
    padding: 1em;
    display: flex;
    border: 2px solid #ccc;
    border-radius: 1em;
    margin-top: 1em;
    font-family:  'Opens Sans', sans-serif;
}
.linha_produto img{
    height: 10vh;
    width: 10vw;
}
/* .linha_produto h3, p{
   padding: 1em;
} */



/* FINALIZANDO PAGINA LISTA DE INTERESSE*/








/* ESTILIZANDO A PAGINA PERFIL DE USUÁRIO */

.titulo_pu hr{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}


.container_pu{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.titulo_pu h1{
    color: var(--roxo);
    font-weight: lighter;
    margin-left: 4.5em;
    margin-top: 2.8em;
    font-size: 1.8em;
}

.secao_imagem_pu{
    margin-bottom: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_adicionar-foto_pu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao_imagem_pu{
    margin-right: 5em;
}

.secao_imagem_pu img{
    width: 20vw;
    border-radius: 20px;
}

.upload-btn-wrapper_pu {
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: -1;
  }
 
  .btn_pu {
    border: none;
    border-bottom: 2px solid var(--roxo);
    color: var(--roxo);
    background-color: #fff;
    padding: 8px ;
    font-size: 1.5em;
    font-weight: bold;
    margin: 2em 0em;
  }
  
  .upload-btn-wrapper_pu input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.upload-btn-wrapper_pu i{
      color: var(--roxo);
  }


.container_form_pu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_form_pu input{
    width: 27em;
    height: 4em;
    margin-top: 1em;
    padding: 1.5em;
    border-radius: 1em;
    border: solid 1px #ccc;
}

.row_pu div{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.row_pu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.row_pu div label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}



.botao_pu{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.botao_pu button{
    width: 16em;
    height: 4em;
    border-radius: 1em;
    border: solid #f61067;
    background-color: transparent;
    color: #f61067;
    font-size: 1.05em;
}

.botao_pu button i{
    margin-right: 0.4em;
}

.botao_pu a{
    text-decoration: none;
    color: var(--roxo);
}

#link_cancelar{
    color: #f61067;
}

.btn {
border: none;
border-bottom: 2px solid var(--roxo);
color: var(--roxo);
background-color: #fff;
padding: 8px;
font-size: 1.5em;
font-weight: bold;
margin: 2em 0em;
}
 
.roxo{
    width: 16em;
    height: 4em;
    border-radius: 1em;
    border: solid #7000a8 !important;
    background-color: transparent;
    color: #7000a8 !important;
    font-size: 1.05em;
}
.box_pu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5vw;
}

.secao_imagem_cad input{
    width: 30em;

}

.row_pu div label i{
    margin-right: 1em;
    margin-left: 1em;  
}

/* FINALIZANDO A PAGINA PERFIL DE USUÁRIO */
.titulo_cad{
    margin-top: 5vh;
    font-size: 1.5em;
    padding: 1.2em;
}
.section3img{
    width: 5vw;
    height: 0vh;
    background-color: blueviolet;
}

.titulo_cad hr{
    margin-top: 1em;

}

.container_cad{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.titulo_cad h1{
    color: var(--roxo);
}

.secao_imagem_cad{
    margin-bottom: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_adicionar-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao_imagem_cad img{
    width: 30vw;
    height: 30vh;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: -1;
  }
 
  .btn {
    border: none;
    border-bottom: 2px solid var(--roxo);
    color: var(--roxo);
    background-color: #fff;
    padding: 8px ;
    font-size: 1.5em;
    font-weight: bold;
    margin: 2em 0em;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .upload-btn-wrapper i{
      color: var(--roxo);
  }

.secao_imagem_cad p{
    width: 14.5vw;
    font-size: 1em;
    color: red;
}

.container_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.file input{
    border: none;
}

.container_form input{
    width: 27em;
    height: 4em;
    margin-top: 1em;
    padding: 1.5em;
    border-radius: 1em;
    border: solid 1px #ccc;
}

.row div{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.descricao_produto{
    margin-top: 6em;
}

.descricao_produto label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin-left: 1em;
}
.descricao_produto i{
    padding: 1em;
}
.descricao_produto textarea{
    width: 27em;
    margin-top: 1em;
    padding: 1.5em;
    border-radius: 1em;
    border: solid 1px #ccc;
}
.row div label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}




.botao_cad{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}



.bot_cad_editar{
    width: 15em;
    height: 3em;
    border-radius: 1em;
    border: solid var(--azulescuro);
    background-color: transparent;
    color: var(--azulescuro);
    font-size: 1.05em;
}

.bot_cad_cadastrar{
    width: 15em;
    height: 3em;
    border-radius: 1em;
    border: solid var(--roxo);
    background-color: transparent;
    color: var(--roxo);
    font-size: 1.05em;
}

.botao_cad button i{
    margin-right: 0.4em;
}


.secao_imagem_cad input{
    width: 30em;

}

.row div label i{
    margin-right: 1em;
    margin-left: 1em;  
}

/* ESTILIZANDO A PAGINA SOBRE NÓS */

.conteudo{
    height: 205vh;
}

.sobre_nos{
    color: var(--roxo);
    font-weight: 500;
    margin-left: 4em;
    margin-top: 2.8em;
}
.titulo_sobrenos hr{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
    z-index: -1;
}

.techcycle_sobrenos{
    color: grey;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0.7em;
    display: flex;
    text-align: left;
}
.box1_sobrenos p{
    width:20em;
    margin-right: 3em;
}
.box1_sobrenos{
    width: 85vw;
    font-size: 1.7em;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 4em;
    margin-top: 1em;
    display: flex;
    text-align: justify;
}
.foto_pc_sobrenos{
    width: 40vw; 
   
}
.linha_sobrenos hr{
   position: unset;
    transform: rotate(170deg);
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 10em;
}

.box2_sobrenos{
    width: 85vw;
    font-size: 1.7em;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 4em;
    margin-top: 2em;
    display: flex;
}
.funcoders_sobrenos{
    margin-left: 12em;
    margin-top: 2.2em;
    margin-bottom: 0.3em;
    font-size: 1.5em;
    color: grey;
}
.box2_sobrenos p{
    margin-left: 4em;
    text-align: justify;
    width:22em;

}
.foto_grupo_sobrenos{
    width: 35vw;
    height: 45vh;
    margin-top: 6em;
    border-radius: 30px;
}

/* FINALIZANDO A PAGINA SOBRE NÓS */

/* ESTILIZANDO A PAGINA Cadastro de anuncio*/


.conteudo_cdu{
    height: auto;
}
.h1_cdu{
    color: var(--roxo);
    font-weight: 500;
    margin-left: 4em;
    margin-top: 2.8em;
}
.linha_cadastrodeanuncio_cdu{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}
/* pai das caixas */
#container_selecao_anuncio_cdu{
    display: flex;
    justify-content: space-evenly;
}
/* Começo da edição caixa 1 */
.criar_anuncio_cdu{
    width: 22vw;
    margin-bottom: 1em;
    border-right: 2px solid #000000;
    margin-top: 2em;
}
.selecaodoanuncio_cdu1{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;              
}
.barraanuncio_cdu1{
    width: 15vw;
    height: 3.5vh;
    padding-left: 1em;
    border: none;
    border-bottom: solid 1.5px #000;
    font-size: 1em;
}

.barraanuncio_cdu1::placeholder{
    color: var(--rosa);
}
.notebooksanuncio_cdu{
    display: flex;
    padding: 1em;
    margin-top: 1em;
    align-items: center;
    justify-content: space-around;
}
.notebooksanuncio_cdu .imagem_notebook{
    width: 6vw;
    height: 9vh;
    border: 1px solid var(--roxo);
    border-radius: 1em;
}
.notebooksanuncio_cdu p {
    font-family: 'Opens Sans', sans-serif;
}
.notebooksanuncio_cdu img{
    width: 100%;
    padding: 0.5em;
}
.notebooksanuncio_cdu{
  
    padding: 1em 1em;
}
.criar_anuncio_cdu hr{
    width: 18vw;
    margin-left: 1em;
}
/* Começo da edição caixa 2 */
.descricao_do_produto_cdu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.informacoes_do_produto_cdu{
    display: flex;
    /* margin-left: 2em;
    margin-top: 4em; */
}
.amostra_do_produto_cdu{
    border: solid 2px #531CB3;
    width: 22vw;
    height: 28vh;
    text-align: center;
    border-radius: 1em;
    margin-top: 1em;
}
.amostra_do_produto_cdu img{
    width: 22vw;
    height: 28vh;
    padding: 1em;

}
.amostra_descricao_cdu{
    margin-left: 1em;
    width: 27vw;
}
.amostra_do_produto_cdu p{
    font-family: 'Roboto Condensed', sans-serif;
}

.amostra_descricao_cdu p span{
    color: var(--roxo);
}
.amostra_descricao_cdu h2{
    margin-top: 1em;
    font-weight: normal;
    text-align: start;
}
.amostra_descricao_cdu p{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0.6em;
    font-size: 1.2em;
    text-align: start;
}
.formulario_anuncio_cdu {
    display: flex;
    justify-content: space-evenly;
    width: 55vw;
}
.barra_preco_expiracao_cdu{
    width: 15vw;
    height: 6vh;
    padding: 1em;
    border: solid 1px #707070;
    border-radius: 0.5em;

}
.campos label{
    font-family: 'Opens Sans', sans-serif;
}
legend{
    font-family: 'Opens Sans', sans-serif;
}
.avaliacao_estrelas {
    border: 1px solid #707070;
    border-radius: 0.5em;
    padding: 0.6em;
    background-color: white;
    color: orange;
    margin: 0em 0.2em;
    width: 6vw;
    text-align: center;
}
.tipos_avaliacao{
    display: flex;
}
.campos label{
    display: block;
}

.botao_adicionar_cdu {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.botao_editar_cdu{
    width: 14vw;
    height: 8vh;
    background-color: #ffff;
    border: solid 2px var(--rosa);
    border-radius: 0.5em;
    color: var(--roxo);
    font-size: 1.3em;
}
.botao_add_cdu{
    width: 14vw;
    height: 8vh;
    background-color: #ffff;
    border: solid 2px var(--roxo);
    border-radius: 0.5em;
    color: var(--roxo);
    font-size: 1.3em;
}
.botao_editar_cdu a{
    text-decoration: none;
    color: var(--rosa);
}
.botao_editar_cdu i{
    padding: 0.5em 0.3em;
}
.botao_add_cdu a{
    text-decoration: none;
    color: var(--roxo);
}
.avaliacao{
    display: flex;
    flex-direction: column;
}
/* Botão pag EDITAR */
.botao_adicionar_cdu2 {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}
.botao_editar_cdu2{
    background-color: #ffff;
    border: solid 2.5px var(--rosa);
    border-radius: 1em;
    color: var(--roxo);
    font-size: 1.3em;
    word-spacing: 0.4em;
    padding: 0.8em 1em;
}
.botao_editar_cdu2 a{
    text-decoration: none;
    color: var(--rosa);
}
/* FINALIZANDO A PAGINA Cadastro de anuncio */



/* Estilizando A PAGINA Cadastro de usuario */

.cadUsuario_main h1{
    color: var(--roxo);
    font-weight: 500;
    margin-top: 2.8em;
    width: 82vw;
    margin-left: 4em;
}
.cadUsuario_main hr{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}

.usuario_titulo_cad{
    margin-top: 5vh;
    font-size: 1.5em;
    padding: 1.2em;
}
.usuario_titulo_cad hr{
    margin-top: 1em;

}
.usuario_container_cad{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.usuario_secao_imagem_cad{
    margin-bottom: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usuario_box_adicionar-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usuario_secao_imagem_cad img{
    width: 30vw;
    height: 30vh;
}
.usuario_upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: -1;
  }
  .usuario_btn {
    border: none;
    border-bottom: 2px solid var(--roxo);
    color: var(--roxo);
    background-color: #fff;
    padding: 8px ;
    font-size: 1.5em;
    font-weight: bold;
    margin: 2em 0em;
  }
  .usuario_upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .usuario_upload-btn-wrapper i{
      color: var(--roxo);
  }
.usuario_secao_imagem_cad p{
    width: 14.5vw;
    font-size: 1em;
    color: red;
}
.usuario_container_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.usuario_file input{
    border: none;
}
.usuario_container_form input{
    width: 27em;
    height: 4em;
    margin-top: 1em;
    padding: 1.5em;
    border-radius: 1em;
    border: solid 1px #ccc;
}
.usuario_row div{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}
.usuario_row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.usuario_row div label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}
.botao_cad_usuario{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.botao_cad_usuario button{
    width: 16em;
    height: 4em;
    border-radius: 1em;
    border: solid var(--roxo);
    background-color: transparent;
    color: var(--roxo);
    font-size: 1.05em;
}
.cad_usuario button i{
    margin-right: 0.4em;
}
.usuario_secao_imagem_cad input{
    width: 30em;
}
.usuario_row div label i{
    margin-right: 1em;
    margin-left: 1em;  
}
/* FINALIZANDO A PAGINA Cadastro de usuario */



/* ESTILIZANDO A PAGINA Produtos Cadastrados*/

.produtoCadastrado_main{
    height:165vh;
}

.produtoCadastrado_main h1{
    color: var(--roxo);
    font-weight: 500;
    margin-left: 4em;
    margin-top: 2.8em;   
}

.produtoCadastrado_main hr {
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}

.produtoCadastrado_main section{
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; 
}

.produtoCadastrado_anuncio{
    width: 15.2vw;
    height: 53vh;
    border: solid 1px #000;
    margin-top: 4em;
    border: 1px solid #707070;
    border-radius: 1em;
}

.produtoCadastrado_imagem-anuncio{
    width:15vw;
    height: 18vh;
    border-bottom: 1px solid #707070;
}

.produtoCadastrado_anuncio img{
    width: 12vw;
    height: 12vh;
    margin: 0.8em 1.2em;
}
 .produtoCadastrado_titulo-preco{
    display: flex;
    justify-content: space-between;
}

.produtoCadastrado_preco{
    margin-right: 0.6em;
    color: var(--roxo);
}

.produtoCadastrado_anuncio h3{
    font-weight: 500;
    color: var(--roxo);
    font-size: 1em;
    margin-left: 0.6em;
    margin-top: 1em;
}

.produtoCadastrado_anuncio p{
    margin-top: 0.8em;
    margin-left: 0.6em;
    text-align: left;
    line-height: 1.2em;   
    font-family: 'Roboto Condensed', sans-serif;
}

.produtoCadastrado_botao-detalhe{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    margin-left: 1em;
}

.produtoCadastrado_anuncio a{
    margin-top: 0.5em;
    text-decoration: none;
    padding: 0.4em;
    border: 1px solid var(--roxo);
    background: var(--roxo);
    color: #fff;
    border-radius: 0.8em;
    margin-right: 0.7em;
    font-size: 0.9em;
}

/* FINALIZANDO A PAGINA Produtos Cadastrados */

/* Etilizado A PAGINA detalhe do produto */
.anuncio_descritivo {
    display: flex;
    margin-left: 4em;
}
.foto_principal {
    margin-left: 3em;
}
.fotos_secundarias {
    padding: 1em;
}
.fotos_secundarias, .foto_principal {
    border: solid 1px #000;
    border-radius: 1em;
}
.foto_principal img {
    width: 22vw;
    padding: 1em;
}
.fotos_secundarias img {
    width: 10vw;
}
.box_classificacao h3 {
    font-size: 1.3em;
    text-transform: capitalize;
    word-spacing: 1em;
    margin-bottom: 1em;
}
.box_classificacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo_descricao h3 {
    font-size: 2em;
}
.conteudo_descricao p {
    font-family: 'Opens Sans', sans-serif;
    font-size: 1.15em;
    padding: 0.5em 0.3em;
    width: 27vw;
    line-height: 2em;
}
.conteudo_descricao h4 {
    text-align: right;
    font-size: 1.5em;
    color: var(--roxo);
}
.foto_exibicao {
    text-align: center;
}
.descricao {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3em;
}
.avaliacoes .box_avaliacao {
    border: 1px solid var(--cor_bordas);
    border-radius: var(--bordas);
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: bold;
    padding: 1em;
    width: 16vw;
}
.leve_descricao {
    width: 18vw;
    margin-left: 2em;
    font-family: 'Opens Sans', sans-serif;
    margin-right: 4em;
}
.secao_avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.btn_descricao button {
    border: 2px solid var(--roxo);
    padding: 1.5em;
    background-color: transparent;
    border-radius: var(--bordas);
    cursor: pointer;
    color: var(--roxo);
    font-size: 15px;
    font-weight: bold;
}
.quadro_avaliacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.5vh;
}
.central {
    margin: 1em 0em;
}
.box_avaliacao span{
    color:#FFC84C;
}
.titulo_comentarios h2 {
    margin: 1em 0em;
}
.box_comentarios {
    border: solid 1px #000;
    border-radius: 1em;
    width: 45vw;
    padding: 0.5em;
    margin: 1.2em 0em;
}
.comentar {
    border: solid 1px #000;
    border-radius: 1em;
    width: 45vw;
    height: 15vh;
    padding: 0.5em;
}
.usuario1 {
    background: url(../imagens/chris.jpg) center;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vw;
    border-radius: 1.2vw;
}
.usuario2 {
    background: url(../imagens/robert.jpg) center;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vw;
    border-radius: 1.2vw;
}
.comentar form textarea {
    border: none;
    font-size: 1em;
    font-style: italic;
    text-transform: capitalize;
    width: 42vw;
    height: 11vh;
}
.adicionar_comentario {
    border: 2px solid var(--roxo);
    border-radius: var(--bordas);
    background-color: transparent;
    padding: 0.8em;
    color: var(--roxo);
    margin: 0.5em 0em;
}
.comentarios {
    padding: 0em 7em;
}
.titulo_comentarios {
    margin-top: 5vh;
    font-size: 1em;
    padding: 3% 7% 0% 8%;
}
.dados_usuario {
    display: flex;
    align-items: center;
}
.dados_usuario p {
    margin: 1.5em 0.5em;
    font-family: 'Opens Sans', sans-serif;
}
.box_comentarios p{
    font-family: 'Opens Sans', sans-serif;
}
.conteudo_descricao {
    padding: 0.4em;
}
/* FINALIZANDO A PAGINA detalhe do produto */

/* Etilizado A PAGINA detalhe do produto */

.anuncio_descritivo {
    margin: 0;
}

/* FINALIZANDO A PAGINA detalhe do produto */

/* ESTILIZANDO A PAGINA cadastro de produto */

.titulo_cad_produto h1{
    color: var(--roxo);
    font-weight: 500;
    margin-top: 2.8em;
    width: 82vw;
    margin-left: 5em;
}
.section3img_cad_produto{
    width: 5vw;
    height: 0vh;
    background-color: blueviolet;
}

.titulo_cad_produto hr{
    background: #707070;
    width: 85vw;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 1em;
}

.container_cad_produto{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.titulo_cad_produto h1{
    color: var(--roxo);
}

.secao_imagem_cad_produto{
    margin-bottom: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_adicionar-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao_imagem_cad_produto img{
    width: 30vw;
    height: 30vh;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: -1;
  }
 
  .btn {
    border: none;
    border-bottom: 2px solid var(--roxo);
    color: var(--roxo);
    background-color: #fff;
    padding: 8px ;
    font-size: 1.5em;
    font-weight: bold;
    margin: 2em 0em;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .upload-btn-wrapper i{
      color: var(--roxo);
  }

.secao_imagem_cad_produto p{
    width: 14.5vw;
    font-size: 1em;
    color: red;
}

.container_form_cad_produto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.file input{
    border: none;
}

.container_form_cad_produto input{
    width: 27em;
    height: 4em;
    margin-top: 1em;
    padding: 1.5em;
    border-radius: 1em;
    border: solid 1px #ccc;
}

.row_cad_produto div{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.row_cad_produto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.descricao_cad_produto{
    margin-top: 4em;
}

.descricao_cad_produto label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin-left: 1em;
}
.descricao_cad_produto i{
    padding: 1em;
}
.descricao_cad_produto textarea{
    width: 27em;
    margin-top: 1em;
    padding: 1.5em;
    border-radius: 1em;
    border: solid 1px #ccc;
}
.row_cad_produto div label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

.botao_cad_produto{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}
.botao_cad_produto a{
    text-decoration: none;
}
.bot_cad_editar{
    width: 15em;
    height: 3em;
    border-radius: 1em;
    border: solid var(--azulescuro);
    background-color: transparent;
    color: var(--azulescuro);
    font-size: 1.05em;
}

.bot_cad_cadastrar{
    width: 15em;
    height: 3em;
    border-radius: 1em;
    border: solid var(--roxo);
    background-color: transparent;
    color: var(--roxo);
    font-size: 1.05em;
}

.botao_cad_produto button i{
    margin-right: 0.4em;
}


.secao_imagem_cad_produtox input{
    width: 30em;

}

.row_cad_produto div label i{
    margin-right: 1em;
    margin-left: 1em;  
}

/* FINALIZANDO A PAGINA cadastro de produto */

@media screen and (max-width: 769px){

    /* Estilizando a página Home TABLET */
    
    .home_secao-filtro{
        width: 80vw;
    }
    .categoria{
        width: 10vw;
    }
    .categoriaDiferente{
        width: 15vw;
    }

    .home_linhaCard{
        flex-wrap: wrap;
    }
    .home_card{
        width: 35vw;
        margin-bottom: 3em;
    }
    .home_img{
        width: 35vw;
    }
    .home_img img{
        width: 30vw;
    }
    .home_texto{
        width:25vw;
        margin-right:1em; 
    }
    .home_texto p{
        font-size: 0.9em;
    }

  

    /* Finalizando a página Home */



    /* Estilizando a página Login TABLET */

    .area_login{
        width: 60vw;
    }
    .area_login h1{
        font-size: 2em;
    }
    .area_login form{
       width: 40vw;
    }
    .area_login form input{
        width: 25vw;
        height: 8.5vh;
    }
    .area_login a{
        font-size: 0.8em;
    }

    /* Finalizando a página Login */
  
    /* ESTILIZANDO LISTA DE INTERESSES E DESCRIÇÃO DE PRODUTO TABLET */
   
    .titulo_descricao {
        font-size: 1.2em;
    }

    .foto_principal {
        margin-left: 1em;
    }

    .conteudo_descricao h3 {
        font-size: 1.5em;
    }

    .conteudo_descricao p {
        width: 33vw;
        line-height: 1.5em;
        font-size: 0.95em;
    }

    .conteudo_descricao h4 {
        margin-top: 0em;
    }

    .avaliacoes .box_avaliacao {
  
        width: 19vw;
    }

    .leve_descricao {
        width: 22vw;
        margin-left: 0.5em;
    }

    .quadro_avaliacao {
        height: 9.5vh;
        font-size: 0.8em;
    }

    .box_classificacao h3 {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    .btn_descricao button {
        padding: 1em;
    }

    .comentarios {
        padding: 0em 1.5em;
    }

    .box_comentarios {
        width: 52vw;
    }

    .dados_usuario {
        height: 6vh;
    }

    .comentar {
        width: 35vw;
        height: 15vh;
    }

    .comentar form input {
        font-size: 0.95em;
    }

    .linha_produto {
        width: 80vw;
        line-height: 2em;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .linha_produto p{
        font-size: 1em;
    }

    .informacoes_produto {
        display: flex;
        align-items: flex-start;
    }

    .foto_produto_lista {
        width: 12vw;
        height: 8vh;
    }

    .foto_produto_lista img {
        width: 11vw;
    }

    .informacoes_produto .text_produto h3{
        width: 30vw;
        padding: 0.5em;
    }

    .comentar form textarea{
        width: 30vw;
    }
    .box_lista-interesse, .box_lista {
        margin-left: 5em;
    }

    /* ESTILIZANDO A PAGINA CADASTRAR PRODUTO TABLET*/
    .titulo h1{
        font-size: 1em;

    }

    .container_cad{
        flex-wrap: wrap;
    }

    .secao_imagem_cad{
        margin-bottom: 2em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        
    }

    .botao_cad input{
        width: 15em;
        height: 4em;
        border-radius: 1em;
        border: solid var(--roxo);
        background-color: transparent;
        color: var(--roxo);
        font-size: 1em;
    }

    .row div{
        display: flex;
        flex-direction: column;
        padding: 1em 0.5em;
    }

    .secao_imagem_cad p{
        width: 29vw;
        font-size: 1em;
        color: red;
    }

    .section3img{
    margin-left:2em; 
    width: 11vw;
    height: 0vh;
    background-color: blueviolet;
    }

    .secao_imagem_cad img {
        width: 36vw;
        height: 36vw;
        padding-right: 1.5em;
    }

    .titulo_cad h1 {
        margin-left: 0em;
    }

    .descricao_produto {
        display: flex;
        flex-direction: column;
    }

    .descricao_produto label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin-left: 1em;
    }

    .descricao_produto i{
    padding: 1em;
    }

    .descricao_produto textarea{
    width: 55em;
    margin-top: 1em;
    margin-left: 1.2em;
    padding: 1.5em;
    border-radius: 1em;
    border: solid 1px #ccc;
    }

    /* Estilizando a pagina sobre nós TABLET */

    .conteudo{
        height: 210vh;;
    }
    .sobre_nos{
        margin-top: 2.8em;
        margin-left: 2em;
        margin-bottom: 1px;
    }
    .box1_sobrenos{
        flex-direction: column;
        padding: 1em;
        margin: 0;
        justify-content: center;
    }
    .box1_sobrenos p{
        width: 83vw;
        margin-left: 2.2em;
    }
    p{
        font-size: 0.6em;
        width: 15em;
    }
    .linha_sobrenos hr{
        margin-top: 4em;
    }
    
    .techcycle_sobrenos{
        font-size: 1em;
        margin-left: 1.3em;
        margin-top: 0.5em;
    }
    .foto_pc_sobrenos{
        width: 73vw;
        margin-bottom: -3em;
        margin-left: 1.7em; 
    }
    .linha_sobrenos{
        margin-bottom: 0em;
        margin-left: 3em;
        width: 85vw;
    }
    .box2_sobrenos{
        flex-direction: column;
        padding: 1em;
        margin: 0;
        justify-content: center;
    }
    .foto_grupo_sobrenos{
        width: 65vw;
        margin-top: 2em;
        margin-bottom: -4;
        margin-left: 3.7em;
    }
    .box2_sobrenos p{
        width: 83vw;
        margin-left: 2em;
        margin-bottom: -4em;
    }
    .funcoders_sobrenos{
        margin-left: 1.2em;
        margin-bottom: 1em;
        margin-top: 2em;
        font-size: 1em;
        color: grey;
    }

/* ESTILIZANDO A PAGINA Cadastro de anuncio TABLET*/

.conteudo_cdu{
    height: auto;
}

.h1_cdu{
    font-weight: normal;
    margin-top: 1.5em;
    margin-left: 2.5em;
    color: var(--roxo);
}
.linha_cadastrodeanuncio_cdu{
    width: 80vw;
    margin-left: 5em;
    background-color: rgb(184, 184, 184);
    height: 0.2vh;
    margin-top: 1em;
}
/* Começo da edição caixa 1 */
.criar_anuncio_cdu{
    width: 44vw;
    height: 70vh;
    margin-bottom: 1em;
    border-right: 2px solid #000000;
    margin-top: 2em;
    margin-left: 1em;
}
.barraanuncio_cdu1{
    width: 25vw;
    height: 4vh;
    border: solid 1px #000;
    border-radius: 0.5em;         
}
.notebooksanuncio_cdu img{
    width: 10vw;
    height: 8vh;
}
.notebooksanuncio_cdu .imagem_notebook {
    width: 10vw;
    height: 9vh;
}
.criar_anuncio_cdu hr{
    width: 25vw;
    margin-left: 1em;
}
/* começo de edição caixa 2 */
.informacoes_do_produto_cdu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3.5em;
}
.amostra_descricao_cdu {
    margin-left: 0em;
    width: 60vw; 
}
.amostra_do_produto_cdu {
    border: solid 2px #531CB3;
    width: 48vw;
    height: 30vh;
    text-align: center;
    border-radius: 1em;
}
.amostra_do_produto_cdu img {
    width: 44vw;
    height: 30vh;
    padding: 1em;
}
.amostra_descricao_cdu h2{
    margin-top: 1em;    
    font-weight: normal;
}
.amostra_descricao_cdu p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    margin-right: 1em;
}
/* Formulario */
.formulario_anuncio_cdu {
    display: flex;
    margin-top: 1em;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0.5em;
    width: 70vw;
    padding: 2em;
   
}
.campos{
    margin: 0em 1.5em 1.5em 0em;
}
.avaliacao_estrelas {
    width: 11vw;
}
/* Botão */
.botao_adicionar_cdu2{
    padding: 0.5em 1.2em;
}
.botao_adicionar_cdu2 a{
    color: var(--rosa);
    text-decoration: none; 
}
.botao_adicionar_cdu button {
    padding: 0.5em 1.2em;
}
.botao_editar_cdu {
    width: 20vw;
}
.botao_editar_cdu a{
    color: var(--rosa);
    padding-left: 0.5em;
    text-decoration: none; 
}
.botao_editar_cdu i{
    display: none;
}
.botao_add_cdu{
    width: 20vw;
}
.botao_add_cdu i{
    display: none;
}
.botao_add_cdu a{
    color: var(--roxo);
    padding-left: 0.5em;
    text-decoration: none; 
}
.barra_preco_expiracao_cdu{
    width: 25vw;
    height: 5vh;
    padding-left: 1em;
    border: solid 1px #000;
    border-radius: 1em;
}
/* Botão da pag de EDIÇÃO */
.botao_adicionar_cdu2{
    padding: 0.5em 1.2em;
}
.botao_adicionar_cdu2 a{
    color: var(--rosa);
    text-decoration: none; 
}
/* FINALIZANDO A PAGINA Cadastro de anuncio */



/* ESTILIZANDO A PAGINA Cadastro de usuario TABLET */

.cadUsuario_main h1{
    margin-left: 2em;
}
.usuario_container_cad{
    flex-wrap: wrap;
}
.usuario_secao_imagem_cad{
    margin-bottom: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}
.botao_cad_usuario input{
    width: 15em;
    height: 4em;
    border-radius: 1em;
    border: solid var(--roxo);
    background-color: transparent;
    color: var(--roxo);
    font-size: 1em;
}
.usuario_row div{
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
}
.usuario_secao_imagem_cad p{
    width: 29vw;
    font-size: 1em;
    color: red;
}
.usuario_secao_imagem_cad img {
    width: 30vw;
    height: 30vw;
    padding-right: 1.5em;
}
.usuario_titulo_cad h1 {
    color: var(--roxo);
    font-weight: 500;
    margin-top: 2.8em;
    width: 82vw;
}

/* FINALIZANDO A PAGINA Cadastro de usuario */


/* Estilizando A PAGINA Produtos Cadastrados */
.produtoCadastrado_main{
    height: 292vh;
}

.produtoCadastrado_anuncio{
    width: 35vw;
    height: 50vh;
}

.produtoCadastrado_imagem-anuncio{
    width: 35vw;
}

.produtoCadastrado_anuncio img{
    width: 25vw;
    height: 12vh;
    margin: 1.7em 1.2em;
}

.produtoCadastrado_anuncio a{
    margin-right: 6em;
}

.produtoCadastrado_secao-filtro{
    width: 59vw;
}
.produtoCadastrado_descricao-produto{
    font-size: 1.5em;;    
}
.produtoCadastrado_titulo-preco p{
    margin-left: 4em;
    font-size: 1em;
}

.produtoCadastrado_botao-detalhe{
    margin-left: 1em;
}


/* FINALIZANDO A PAGINA Produtos Cadastrados */


/* Estilizando A PAGINA cadastro de anuncio TABLET */
.informacoes_do_produto_cdu {
    margin-top: 1em;
}
.amostra_descricao_cdu p {
    margin: 0em;
}
.amostra_do_produto_cdu {
    margin-bottom: 1em;
    margin-right: 8em;
}
.criar_anuncio_cdu {
    height: 107vh;
}
.notebooksanuncio_cdu img {
    width: 13vw;
    height: 11vh;
}
.notebooksanuncio_cdu .imagem_notebook {
    width: 13vw;
    height: 12vh;
    margin-left: 3em;
}
.notebooksanuncio_cdu p {
    font-size: 1em;
    margin-left: 1em;

}
.botao_adicionar_cdu {
    margin-right: 6em;
}
                        
/* FINALIZANDO A PAGINA cadastro de anuncio */

/* EStilizando A PAGINA aprovações */

.listaCadastros {
    width: 69vw; 
}

.menu_interesse li{
    display: flex;
    justify-content: space-around;
}
.lista_interresse p{
    font-size: 1em;
    width: 6em;
}
.lista_interresse div {
    width: 14vw;
}
}
@media screen and (max-width: 376px )
{
     
    /* Estlizando a página Home CELULAR */
.home_secao-filtro{
    width: 21em;
}
.categoriaDiferente{
    margin-right: 1.5em;
}
.categoriaDiferente div{
    display: flex;
}
.categoria {
    width: 18vw;
}
    .home_main h1{
    width: 80vw;
    margin-left: 0.7em;
}

.home_linhaCard{
    flex-wrap: wrap;
}
.home_card{
    width: 75vw;
}
.home_img{
    width: 75vw;
}
.home_img img{
    width: 70vw;
}
    /* Finalizando a página Home */




    /* Estilizando a página Login CELULAR*/
    .area_login{
        width: 80vw;
    }
    .area_login h1{
        font-size: 1.5em;
    }
    .area_login form{
        width: 50vw;
    }
    .area_login label{
        margin-top: 1em;
        font-size: 0.8em;
    }
    .area_login i{
        display: none;
    }
    .area_login form input{
        width: 15em;
    }
    .area_login a{
        margin-top: 1.5em;
        font-size: 0.8em;
    }
    .botao{
        width: 8em;
    }

    /* Finalizando a página Login */


    /* ESTILIZANDO PAGINA LISTA DE INTERESSE CELULAR */

    .foto_principal img {
        width: 50vw;
        padding: 0.5em;
    }

    .fotos_secundarias {
        padding: 0.3em;
    }.fotos_secundarias img {
        width: 18vw;
    }

    .conteudo_descricao h3 {
        font-size: 1.15em;
    }

    .foto_principal {
        margin-left: 0.5em;
    }

    .conteudo_descricao p {
        width: 55vw;
        line-height: 1.5em;
        font-size: 0.95em;
    }
    
    .conteudo_descricao h4 {
        margin-top: 0em;
        font-size: 16px;
    }

    .avaliacoes .box_avaliacao {
        width: 38vw;
    }

    .leve_descricao {
        width: 50vw;
        margin-left: 0.5em;
    }

    .quadro_avaliacao {
        height: 9.5vh;
        font-size: 0.85em;
    }

    .box_classificacao h3 {
        font-size: 1em;
        margin: 1.2em 0em;
    }

    .titulo_descricao {
        font-size: 0.9em;
    }

    .btn_descricao button {
        padding: 1em;
        margin: 1.2em 0em;
    }

    .box_comentarios {
        width: 85vw;
    }

    .foto_usuario {
        width: 10vw;
        height: 10vw;
    }

    .comentar {
        width: 70vw;
        height: 15vh;
    }

    .links_listas a {
        font-size: 1.3em;
        text-decoration: none;
        padding: 1em 0.2em 0em 0.1em;
    }

    .linha_produto {
        width: 90vw;
        line-height: 2em;
        flex-wrap: wrap;
    }

    .text_produto {
        display: flex;
        flex-direction: column;
        line-height: 1em;
    }.text_produto p{
        padding: 0.3em 0em;
        padding-left: 0.5em;

    }

    .foto_produto_lista {
        width: 17vw;
        height: 8vh;
    }

    .foto_produto_lista img {
        width: 16vw;
        font-size: 0.95em;
    }

    .informacoes_produto {
        display: flex;
        align-items: center;
    }

    .titulo_descricao, .titulo_interesses {
        margin-top: 5vh;
        font-size: 1.2em;
        padding: 1.1em;
    }

    .informacoes_produto .text_produto h3 {
        width: 45vw;
        padding: 0.5em;
    }

    .comentar form textarea{
        width: 60vw;
    }

    .box_lista-interesse, .box_lista {
        margin-left: 1em;
    }
    .titulo_interesses h1{
        margin-left: 0.5em;
    }
    .interesse_main {
        height: 170vh;
    }

    .linha_produto img{
        width: 25vw;
    }

    /* ESTILIZANDO A PAGINA PERFIL DE USUÁRIO CELULAR*/
    .titulo_pu h1 {
        margin-left: 2.5em;
    }

    .container_pu{
        flex-wrap: wrap;
    }

    .secao_imagem_pu{
        width: 30vw;
        margin-bottom: 2em;
        width: 30vw;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .botao_pu button{
        border-radius: 1em;
        border: 2px solid #f61067;
        background-color: transparent;
        color: #f61067;
        font-size: 1em;
    }
    

    .row_pu div{
        display: flex;
        flex-direction: column;
        padding: 1em 0;
    }

    .secao_imagem_pu p{
        width: 68vw;
        font-size: 1em;
        color: red;
    }

    .secao_imagem_pu img {
        width: 62vw;
    }
    .box_pu{
        flex-direction: column;
    }
    .botao_pu{
        margin-bottom: 0;
    }
    .secao_imagem_pu{
        margin-right: 0;
    }
    
    /* FINALIZANDO A PAGINA PERFIL DE USUÁRIO */


    /* ESTILIZANDO A PAGINA CADASTRAR PRODUTO CELULAR*/

    
    .titulo_cad h1{
        font-size: 1em;
        margin-left: 2em;
    }

    .container_cad{
        flex-wrap: wrap;
    }

    .secao_imagem_cad{
        width: 30vw;
        width: 30vw;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 45vw;
    }

    .botao_cad {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botao_cad button{
        border-radius: 1em;
        border: 1px solid var(--roxo);
        background-color: transparent;
        color: var(--roxo);
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em;

    }

    .row div{
        display: flex;
        flex-direction: column;
        padding: 1em 0;
    }

    .secao_imagem_cad p{
        width: 68vw;
        font-size: 1em;
        color: red;
    }

    .section3img{
    width: 16vw;
    height: 0vh;
    background-color: blueviolet;
    }

    .secao_imagem_cad img {
        width: 60vw;
        height: 60vw;
        padding-right: 1.5em;
    }

    .titulo_cad h1 {
        font-size: 1.05em;
        margin-left: 0em;
    }

    .descricao_produto textarea{
        width: 27em;
        margin-right: 0.7em;
        margin-top: 1em;
        padding: 1.5em;
        border-radius: 1em;
        border: solid 1px #ccc;
    }
    /* Estilizando a página sobre nós CELULAR*/

    .conteudo{
        height: 210vh;
    }
    .box1_sobrenos p{
        font-size: 0.6em;
        margin: 0;
        }
    .linha_sobrenos hr{
            width: 80vw;
            margin-right: 4em;
            margin-bottom: 3em;
    }
   
    .techcycle_sobrenos{
        font-size: 1em;
        margin-top: 0.5em;
    }
    .foto_pc_sobrenos{
        width: 78vw;
        margin: 0;
    }
    .linha_sobrenos{
        margin-bottom: 0em;
        margin-left: 2em;
        width: 100vw;
    }
    .box2_sobrenos{
        flex-direction: column;
        padding: 1em;
        margin: 0;
        justify-content: center;
    }
    .foto_grupo_sobrenos{
        width: 80vw;
        height: 35vh;
        margin-left: 0.5em;
        margin-top: 1em;
    }
    .box2_sobrenos p{
        width: 20em;
        margin-left: 0;
        margin-bottom: -4em;
    }
    .funcoders_sobrenos{
        margin-left: 0;
        margin-top: 2em;
        font-size: 1em;
        color: grey;
    }

    /* ESTILIZANDO A PAGINA Cadastro de anuncio CELULAR */

    #container_selecao_anuncio_cdu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .h1_cdu{
        margin-left: 1em;
    }
    .linha_cadastrodeanuncio_cdu{
        margin-left: 2em
    }
        /* Caixa 1 */
    .notebooksanuncio_cdu .imagem_notebook {
        width: 24vw;
        height: 9vh;
    }
    .criar_anuncio_cdu {
        margin: 1em 0em;
        width: 73vw;
        height: 70vh;
    }
    .barraanuncio_cdu1{
        width: 45vw;
        height: 4vh;
    }
    .notebooksanuncio_cdu img{
         width: 20vw;
    }
    .notebooksanuncio_cdu p{
        padding-right: 2em;
    }
    .criar_anuncio_cdu hr {
        width: 63vw;
    }
    /* Caixa 2 */
    .amostra_do_produto_cdu{
        width: 70vw;
        height: 25vh;
        
    }
    .amostra_do_produto_cdu img {
        width: 70vw;
        height: 25vh;
        padding-left: 0.5em;
    }
    .amostra_descricao_cdu h2{
        margin-top: 1em;    
        font-weight: normal;
        text-align: center;
        
    }
    .amostra_descricao_cdu p{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.33em;
        margin-right: 1em;
        text-align: center;
    }
    .selecaodoanuncio_cdu{
        text-align: center;
        padding: 0.2em;
    }
    .formulario_anuncio_cdu {
        display: flex;
        font-size: 1.2em;
        flex-direction: column;
        padding: 0;
    }
    .preco_expiracao_cdu{
        margin-left: 2.5em;
    }
    .avaliacao legend{
        margin-left: 1.7em;
    }
    .tipos_avaliacao{
        margin-left: 1.2em;
    }
    .barra_preco_expiracao_cdu{
        width: 60vw;
    }
    .campos{
        width: 70vw;
    }
    .avaliacao_estrelas {
        width: 27vw;
    }
    /* Botão */
    .botao_adicionar_cdu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao_adicionar_cdu button{
        width: 60vw;
        margin-top: 1em;
    }
    .botao_adicionar_cdu a{
        padding: 0;
    }
    .botao_adicionar_cdu2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5em;
    }

    /* FINALIZANDO A PAGINA Cadastro de anuncio */

    /* FINALIZANDO A PAGINA Cadastro de usuario CELULAR*/
    .cadUsuario_main h1{
        margin-left: 1.2em;
    }
    .usuario_container_cad{
        flex-wrap: wrap;
    }
    .usuario_secao_imagem_cad{
        width: 30vw;
        margin-bottom: 2em;
        width: 30vw;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao_cad_usuario button{
        border-radius: 1em;
        border: 1px solid var(--roxo);
        background-color: transparent;
        color: var(--roxo);
        font-size: 1em;
    }
    .usuario_row div{
        display: flex;
        flex-direction: column;
        padding: 1em 0;
    }
    .usuario_secao_imagem_cad p{
        width: 68vw;
        font-size: 1em;
        color: red;
    }
    .usuario_secao_imagem_cad img {
        width: 60vw;
        height: 60vw;
    }
    .usuario_titulo_cad h1 {
        font-size: 1.05em;
        margin-left: 0em;
    }

    /* FINALIZANDO A PAGINA Cadastro de usuario */


    /* Estilizando A PAGINA Produtos Cadastrados */
    
    .titulo_descricao h1{
        margin-left: 0em;
    }
    .produtoCadastrado_main{
        height: 545vh;
    }

    .produtoCadastrado_main section{
        width: 70vw;
    }

    .produtoCadastrado_anuncio{
        width: 60vw;
        height: 50vh;
    }

    .produtoCadastrado_anuncio a{
        margin-right: 4em;
    }

    .produtoCadastrado_anuncio img{
        width: 45vw;
        height: 10vh;
    }

    .produtoCadastrado_imagem-anuncio{
        width: 60vw;
    }

    .produtoCadastrado_secao-filtro{
        width: 80vw;
    }

    .produtoCadastrado_botao-detalhe{
        margin-left: 1em;
    }
    /* FINALIZANDO A PAGINA Produtos Cadastrados */

    /* Estilizando A PAGINA detalhe do produto */
    
    #container_selecao_anuncio_cdu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .h1_cdu{
        margin-left: 1em;
    }
    .linha_cadastrodeanuncio_cdu{
        margin-left: 2em
    }
        /* Caixa 1 */
    .notebooksanuncio_cdu .imagem_notebook {
        width: 24vw;
        height: 9vh;
    }
    .informacoes_do_produto_cdu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0em;
    }   
    .criar_anuncio_cdu {
        margin: 1em 0em;
        width: 73vw;
        height: 70vh;
    }
    .barraanuncio_cdu1{
        width: 45vw;
        height: 4vh;
    }
    .notebooksanuncio_cdu img{
         width: 20vw;
    }
    .notebooksanuncio_cdu p{
        padding-right: 2em;
    }
    .criar_anuncio_cdu hr {
        width: 63vw;
    }
    /* Caixa 2 */
    .amostra_do_produto_cdu{
        width: 70vw;
        height: 25vh;
        margin-left: 8em;        
    }
    .amostra_do_produto_cdu img {
        width: 70vw;
        height: 25vh;
        padding-left: 0.5em;
    }
    .amostra_descricao_cdu h2{
        margin-top: 1em;    
        font-weight: normal;
        text-align: center;
        
    }
    .amostra_descricao_cdu{
        width: 87vw;
    }
    .amostra_descricao_cdu p{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.33em;
        margin-right: 5em;
        text-align: center;
        
    }
    .selecaodoanuncio_cdu{
        margin-left: 4em;
    }
    .formulario_anuncio_cdu {
        display: flex;
        font-size: 1.2em;
        flex-direction: column;
        padding: 0;
    }
    .preco_expiracao_cdu{
        margin-left: 2.5em;
    }
    .avaliacao legend{
        margin-left: 1.7em;
    }
    .tipos_avaliacao{
        margin-left: 1.2em;
    }
    .barra_preco_expiracao_cdu{
        width: 60vw;
    }
    .campos{
        width: 70vw;
    }
    .avaliacao_estrelas {
        width: 27vw;
    }
    /* Botão */
    .botao_adicionar_cdu{
        margin-left: 6em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao_adicionar_cdu button{
        width: 60vw;
        margin-top: 1em;
    }
    .botao_adicionar_cdu a{
        padding: 0;
    }
    .botao_adicionar_cdu2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5em;
    }
    .avaliacao{
        margin-left: 4em;

    }
  
    /* FINALIZANDO A PAGINA detalhe do produto */
}
